{% extends 'index.html' %}

{% block body %}

<div class="container bg-secondary" id="myrow">
    <div class="row">
        <div class="p-5 lead">
            Welcome to Image Processing Web App with Machine Learning Model in Flask  & Deploy in Python Anywhere
            What you will learn
            <ul>
                <li>Skimage</li>
                <li>Data Pre-processing</li>
                <li>Feature Extraction</li>
                <li>Machine Learning Model</li>
                <li>Pipeline Model</li>
                <li>Flask App</li>
                <li>Deploy in Python Anywhere</li>
            </ul>
        </div>
    </div>
</div>
<!-- <style>
    #myrow {
        background-color: #EBEDEF;
    }
</style> -->
{% endblock %}